* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    height: 8vh;
    background-color: rgb(53, 53, 53);
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    padding: 1rem;
}

.navbar h3 {
    color: white;
}

#search-form {
    padding: 1rem;
    display: flex;
    align-items: center;
}

#search-form label {
    margin-left: 1rem;
    font-size: 1.2rem;
}

#search-form input {
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    outline: none;
    border: 1px solid black;
}

.apod {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.apod-title {
    font-size: 2rem;
    margin-bottom: 3rem;
}

.apod-pic {
    width: 500px;
    height: 500px;
}